body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #1db954 0%, #1db954 1%, hsl(0,0%,15%) 1%, hsl(0, 0%, 5%) 100%);
            color: #ffffff;
            padding: 40px;
        }

        nav {
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
            flex-wrap: wrap;
        }

        nav a {
            text-decoration: none;
            padding: 0.4rem 0.8rem;
            background: #1db954;
            color: black;
            border-radius: 6px;
            font-weight: 500;
        }

        nav a:hover {
            background: #1ed760;
        }

        nav a.active {
            background: #f0f0f0;
            color: black;
        }

        .table-container {
            max-height: 600px;
            overflow-y: auto;
            border: 1px solid black;
            border-radius: 6px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 0.4rem 0.6rem;
            text-align: left;
            border-bottom: 1px solid #eee;
        }

        th {
            position: sticky;
            top: 0;
            background: #121212;
            font-weight: 600;
        }

        td:nth-child(1),
        td:nth-child(4),
        td:nth-child(5),
        td:nth-child(6) {
            text-align: right;
        }

        .table-container::-webkit-scrollbar {
            width: 10px;
        }

        .talble-container::-webkit-scrollbar-track {
            background: #121212;
        }

        .table-container::-webkit-scrollbar-thumb {
            background-color: #1DB954;
            border-radius: 8px;
            border: 2px solid #121212;
        }

        .table-container::-webkit-scrollbar-thumb:hover {
            background-color: #1ed760;
        }

        .table-container {
            scrollbar-width:thin;
            scrollbar-color: #1DB954 #121212;
        }